<div cg-busy="employeeListPromise">
	<div class="well-large col-sm-6">
		<blockquote>
			Bellow is a list of Employees
			<h5><a ui-sref="employees-new-employe">Click Here to Add New Employee</a></h5>
		</blockquote>
	</div>

	<ul class="pager col-sm-12">
		<li class="previous"><a id="page-first" ng-click="populateEmployees(first)" ng-show="employees.first">First</a></li>
		<li><a id="page-prev" ng-click="populateEmployees(employees.previous)" ng-show="employees.previous">&larr; Previous</a></li>
		<li><a id="page-next" ng-click="populateEmployees(employees.next)" ng-show="employees.next">Next &rarr;</a></li>
		<li class="next"><a id="page-last" ng-click="populateEmployees(last)" ng-show="employees.next">Last</a></li>
	</ul>

	<table ng-show="employees.results" class="table table-striped table-bordered table-hover col-sm-12" id="employees-table">
		<thead>
			<tr>
				<th class="col-sm-3" ng-click="predicate='employeefirstname'; reverse=!reverse">First Name</th>
				<th class="col-sm-3" ng-click="predicate='employeesurname'; reverse=!reverse">Last Name</th>			
				<th class="col-sm-3" ng-click="predicate='employeejobtypes'; reverse=!reverse">Job Type</th>
			</tr>
		</thead>
			<tr ng-repeat="employee in employees.results | orderBy:predicate:reverse" ng-click="goToEmployee(employee.employeeid)">
				<td>{{employee.employeefirstname}}</td>
				<td>{{employee.employeesurname}}</td>
				<td>{{employee.employeejobtypes}}</td>			
			</tr>
		<tbody>
			
		</tbody>
	</table>
</div>